body{
	font-family: sans-serif;
	margin: 0px;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
	margin: 0px;
}
p{
	margin: 0px;
}
img {
	width: 120px;
	height: 178px;
}
header{
	background: radial-gradient(white, lightblue);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
section{
	background: lightcyan;
	padding: 10px;
}
header, section{
	border-bottom: 5px solid black;
}
.carrusel{
	display: flex;
	flex-direction: row;
}
.tarjeta{
	background-color: lightblue;
	margin: 10px;
	border-radius: 5%;
	box-shadow: 0 0 10px 0 grey;
	width: 120px;
}
.cartel{
	border-radius: 5%;
}
table, td, th{
	border-collapse: collapse;
}
th{
	background-color: lightblue;
}
td, th{
	border: 1px solid black;
	text-align: center;
	width: 200px;
	height: 50px;
}
td:nth-child(1){
	border: unset;
}

