img {
	width: 120px;
	height: 178px;
}
header{
	background: radial-gradient(white, lightblue);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
section{
	background: lightcyan;
}
header, section{
	border-bottom: 5px solid black;
}
.carrusel{
	display: flex;
	flex-direction: row;
}
.tarjeta{
	background-color: lightblue;
	margin: 5px;
}
table, td, th{
	border-collapse: collapse;
}
td, th{
	border: 1px solid black;
	
}
td:nth-child(1){
	border: unset;
}

