img {
	width: 120px;
	height: 178px;
}
header{
	background: radial-gradient(white, lightblue);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
section{
	background: lightcyan;
}
header, section{
	border-bottom: 5px solid black;
}

